.main-header {
    display: flex;
    background-image: url("../assets/images/pattern-vermelha.png");
    padding: 10px 20px;
}

@media (max-width: 600px) {
    .main-header {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
    }
}