@import "colors.css";

.main-logo {
    color: var(--fifth-color);
    font-weight: 900;
}

@media (max-width: 768px) {
    .main-logo{
      margin-left: auto;
      margin-right: auto;
    }
}

@media (max-width: 480px) {
    .main-logo{
      margin-left: auto;
      margin-right: auto;
    }
}